@import "tailwindcss";

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  .shadow-button {
    @apply px-6 py-2 gap-2.5 border border-gray-500/30 text-sm text-white-50 rounded shadow-lg shadow-black-50/30 font-medium active:scale-95 transition;
  }
  .gradient-text-1 {
    @apply bg-gradient-to-r from-gray-200 to-orange-200 inline-block text-transparent bg-clip-text shadow-2xl;
  }
  .bg-url-auriculares {
    @apply bg-[url('/assets/auris.jpg')] bg-cover bg-center bg-blend-multiply bg-[#333344];
  }
}

@layer components {
  .card-border {
    @apply border border-blue-50 bg-blue-100;
  }
  .card-detalle {
    @apply text-gray-800 text-base md:text-[14px] leading-4 font-bold text-center;
  }
  .card-codigo {
    @apply text-blue-900 text-[9px] font-bold leading-1 text-center;
  }
  .card-precio-iva {
    @apply text-blue-900 text-[32px] mb-3 font-bold leading-6 text-center;
  }
  .card-precio {
    @apply text-gray-700 text-[10px] font-bold leading-1 text-center;
  }

  /* NAVBAR */
  .navbar {
    @apply fixed top-0 left-0 bg-[#282732] text-blue-50 w-full flex items-center justify-between px-4 md:px-16 lg:px-24 xl:px-32 transition-all duration-500 z-50;
  }
  .navScrolled {
    @apply bg-white/80 shadow-2xl text-blue-50 backdrop-blur-xl py-3 md:py-4;
  }

  .navbarMid {
    @apply flex flex-col gap-0.5;
  }
  .navbarMid group {
    @apply group-hover:text-purple-400;
  }
}

.navbar a {
  font-weight: 500;

  text-decoration: inherit;
}
.navbar a:hover {
  font-weight: 500;

  text-decoration: inherit;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

@keyframes steam {
  from {
    background-position-x: 0%;
    background-position-y: 0px;
  }
  to {
    background-position-x: 600%;
    background-position-y: 0px;
  }
}

.navbar::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(
    90deg,
    #282732,
    #ffffffbb,
    #282732,
    #282732,
    #ffffffbb,
    #282732,
    #282732,
    #ffffffbb,
    #282732
  );
  background-size: auto;
  background-size: 600%;
  margin-left: 0px;
  width: 100%;
  height: 1px;
  animation: steam 120s linear infinite;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #424242;
  cursor: pointer;
  transition: border-color 2.5s;
  transition: background-color 0.5s;
}
.btn:hover {
  border-color: var(--color-blue-700);
  background-color: var(--color-blue-900);
}

.bordered-box {
  position: relative;
  z-index: 0;
  padding: 2rem;
  background: #1a1a1a;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.bordered-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  background: linear-gradient(
    90deg,
    #282732,
    #ffffff3d,
    #282732,
    #282732,
    #ffffff3d,
    #282732
  );
  background-size: 600%;
  animation: steam 60s linear infinite;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  mask-composite: exclude;
  border-radius: 10px;
}
